* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-texto: 'Merriweather', serif;
    --cor1: #5c6bc0;
    --cor2: #f5f5f5;
    --cor3: #274b5b;
    --cor4: #5bc292;
    --cor5: #e3f2fd;
}

body {
    font-family: var(--fonte-texto);
    background-color: var(--cor5);
    color: var(--cor3);
    height: 100vh;
}

header {
    background-color: var(--cor1);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    padding: 1.2rem 2rem;
    color: var(--cor2);
    background-color: var(--cor3);
    border-radius: 15px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
    display: inline-block; /* Para o título não ocupar toda a largura */
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--cor3);
    margin: 0 2rem 1rem 0;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    color: var(--cor4);
    transition: 0.5s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    color: var(--cor2);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    font-family: var(--fonte-texto);
}

canvas {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
